@model ICollection<HotelViewModel>

<div class="row">
    @foreach (var hotel in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@hotel.URL" alt="@hotel.Name @hotel.Stars">
                <div class="card-body text-center">
                    <h3 class="card-title text-center">@hotel.Name</h3>
                    <h5 class="card-title text-center">Stars: @hotel.Stars</h5>
                    <h5 class="card-title text-center">Map: @hotel.NatureName</h5>
                    <h5 class="card-title text-center">REMOVED</h5>
                    <a asp-controller="Hotel" asp-action="BackHotel" asp-route-id="@hotel.Id" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>
    }
</div>
